.App {
  text-align: center;
}

/*.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}*/

.App-header {
  background-color: rgb(21, 22, 107);
  height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Perfil{
  float: left;
  margin-left: 30px;
}

.Descricao{
   margin-left: 180px;
}
